.App {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family:sans-serif;
}
.navbar-section-contents{
  position:absolute;
  z-index:1;
  top:0;
  width:100%;
}
.navbar-section{
  display:flex;
  justify-content: space-between;
  width:100%;
  max-width:85%;
  margin:0px auto;
  padding:30px 10px 0px 10px;
  align-items: center;
}
.navbar-logo-sec img{
  width:120px;
  height:30px;
  z-index:999;
}
.navbar-list-items-sec ul{
  display:flex;
  width:470px;
  justify-content: space-between;
  list-style: none;
}
.list-items{
  color:rgb(141, 137, 137);
  letter-spacing:1px;
  font-weight:600;
  padding:0px 10px;
  position:relative;
  cursor:pointer;
}
.list-items.active{
  color:rgb(53, 50, 50);
}
.list-items::after{
  content:"";
  position:absolute;
  bottom:-10px;
  left:0;
  background:rgba(201,102,73,255)
  ;
  width:100%;
  height:4px;
  transform: scale(0);
  transition-property: transform, background;
  border-radius:20px;
  transition-duration:0.2s;
  transition-timing-function: ease-in;
}
.responsive-display{
  max-width:700px;
  width:100%;
  display:flex;
  justify-content: space-between;
}
.list-items:hover::after{
  transform: scale(1);
}
.navbar-btn-item{
  color:white;
  display: flex;
  align-items: center;
  background:rgba(222,93,54,255);
  padding:11px 30px;
  border-radius:25px;
  font-size:15px;
  font-weight:600;
  cursor:pointer;
  border:none;
  
}
.responsive-header-button{
  display:none;
  z-index:999;

}


/*---------------Header-section-------------------*/
.header-section{
  margin-bottom:150px;
}
.header-main-image{
  width:100%;
  position:relative;
  height:750px;
}
.header-sec-cont-item1{
  position:absolute;
  top:200px;
  left:80px;
}
.header-sec-item-1-h1{
  margin:0px;
  width:400px;
  font-size:55px;
  font-weight:bold;
  color:rgb(5, 5, 31);
  line-height: 4rem;

}
.header-sec-item-1-p{
  margin:20px 0px 0px 0px;
  width:580px;
  font-size:23px;
  color:rgb(19, 15, 15);
  line-height:2rem;
}
.header-sec-item-1-button{
  margin:20px 0px 0px 0px;
  padding:17px 32px;
  border-radius:25px;
  border:0px;
  background:rgba(222,93,54,255);
  color:white;
  font-size:14px;
  font-weight:700;
  cursor:pointer;
  letter-spacing:0.7px;
}
.header-sec-cont-item2{
  position:absolute;
  bottom:-120px;
  overflow:hidden;
  right:0;
  background:rgb(248, 246, 236);
  padding:0px 10px;
  width:750px;
  display:flex;
  justify-content: space-around;
  border-top-left-radius: 25px;
  border-bottom-left-radius:25px;

}
.header-sec-logo-item{
  padding:20px 0px;
  width:150px;
  height:70px;

}


/*----------What We Do Section --------------------*/
.what-we-do-section{
  padding:20px 10px;
  position:relative;
  background:rgba(238, 135, 152, 0.274);
}

.what-we-do-main-component{
  width:280px;
  height:270px;
  margin:0px 10px 40px 10px;
  background:white;
  border-radius:10px;
  text-align: left;
  padding:20px 40px;
  cursor:default;
  transition-property:box-shadow ;
  transition-timing-function: ease-in-out ;
  transition-duration: 0.3s;
  position:relative;
}
.what-we-do-main-component:hover{
  box-shadow:2px 2px 10px 2px grey;

}
.what-we-do-image img{
  width:60px;
  height:60px;
}

.what-we-do-h1 h1{
  font-size:18px;
  width:250px;
  color:#374d59;
  font-weight:800;
}
.what-we-do-p p{
  width:250px;
  font-size:15px;
  line-height:1.5rem;
  letter-spacing:1px;
  margin-bottom:5px;
  color:#24464e;
}
.what-we-do-arrow-btn{
  cursor:pointer;
  position:absolute;
  bottom:20px;
  left:33px;
}
.what-we-do-responsive{
  max-width:1150px;
  width:100%;
  margin-left:auto;
  padding-right:25px;
}
.what-we-do-items-container{
  width:100%;
  max-width:100%;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  align-items: center;
}
.what-we-do-main-h1,.our-team-logo-name,.latest-blogs-main-h1,.Industries-client-section-2>h1{
  font-size:53px;
  margin:15px 0px 15px 100px;
  text-align: left;
  position:relative;
}
.what-we-do-main-h1::after,.our-team-logo-name::after,.latest-blogs-main-h1::after,.Industries-client-section-2>h1::after{
  content:"";
  width:12%;
  height:5px;
  position:absolute;
  bottom:-5px;
  border-radius:5px;
  left:0;
  background-color:brown;
}

/*------------------Industries and client section--------------------------------*/


.industries-client-section{
  overflow:hidden;
  width:100%;
  max-width:80%;
  margin:80px auto 10px auto;
  padding:0px 100px;
}
.industries-client-section>h1{
  margin:70px 0px 50px 50px;
  font-size:53px;
  width:450px;
  position:relative;
}

.slick-slider{
  position:relative;
}
.industries-client-section>h1::after{
  content:"";
  width:35%;
  position:absolute;
  height:5px;
  top:55px;
  border-radius:5px;
  left:0;
  background:brown;

}

.slick-slider>.slick-next{
  padding:5px;
  position:absolute;
  right:-65px;
  border:1px solid #3f51b5;
  border-radius:50%;
  width:30px;
  top:45px;
  height:30px;
  color:#3f51b5;
  transition-property:color,border;
  transition-timing-function:ease;
  transition-duration: 0.3s;
}
.slick-slider>.slick-prev{
  padding:5px;
  border:1px solid #3f51b5;
  border-radius:50%;
  width:30px;
  height:30px;
  left:-50px;
  top:45px;
  color:#3f51b5;
  transition-property:color,border;
  transition-timing-function:ease;
  transition-duration: 0.3s;
}
.slick-slider>.slick-prev:hover, .slick-slider>.slick-prev:focus, .slick-slider>.slick-next:hover, .slick-slider>.slick-next:focus {
  color: black;
  border:1px solid black;
}

.ind-content-item-1{
  color:white;
  text-align: center;
  padding:0px 10px;
}

.ind-content-item-1>h3,.ind-content-item-1>img{
  margin:15px 20px;
  height:60px;
  width:80%;
  justify-content: center;
  color:#032e3d;
  border-radius: 8px;
  box-shadow:2px 2px 10px 2px rgba(128, 128, 128, 0.438);
  display:flex;
  align-items: center;
  font-size:14px;
}
.ind-button-logo-item-1{
  padding-right:10px;
}
.ind-content-item-1>img{
  width:65%;
  height:30px;
  padding:17px 20px 17px 20px;
}



/*-------------------------Our Team Section--------------------------------*/
.our-team-logo-name{
  margin-bottom:50px;

}
.our-team-main-section{
  margin-top:180px;
}
.responsive-our-team-sec{
  display:flex;
  justify-content: center;
  width:100%;
  max-width: 70%;
  margin:0px auto;
}

.our-team-logo-section{

  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.our-team-logo-section>div:nth-child(n){
  margin-top:90px;
}
.our-team-logo-section>div:nth-child(2n){
  margin-top:210px;
}
.our-team-logo-section>div:last-child{
  margin-top:0px;
}
.our-team-logo{
  width:230px;
  margin:20px 20px 40px 20px;
  text-align: center;

}
.our-team-logo-img-item{
  width:160px;
  height:160px;
  border-radius:50%;
}
.our-team-logo-h1-item{
  font-size:17px;
  margin:10px 0px 0px 0px;
  color:rgb(17, 17, 71);
}
.our-team-logo-p-item{
  font-size:15px;
  margin:0px;
  color:grey;
}

/*----------------Latest Blogs Section ------------------------*/

.responsive-latest-blogs-sec{
  display:flex;
  justify-content: center;
  margin-bottom:120px;
}
.latest-blogs-section-main{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  width:100%;
  max-width:1080px;
}


.latest-blogs-content-section{
  width:320px;
  height:420px;
  text-align: center;
  box-shadow:2px 2px 10px 2px rgba(170, 167, 167, 0.644);
  border-radius:15px;
  padding-top:30px;
  margin:80px 0px;
  position:relative;
  transition-property: margin,box-shadow;
  transition-timing-function:ease;
  transition-duration: 0.3s;
}
.latest-blogs-content-section:hover{
  margin:60px 0px 80px 0px;
  box-shadow:2px 2px 10px 2px rgba(121, 119, 119, 0.644);

}


.latest-blogs-cont-item-img{
  width:220px;
  height:160px;
  border-radius:10px;
  transition-property:width,height ;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}
.latest-blogs-cont-item-img:hover{
  width:230px;
  height:170px;

}
.latest-blogs-cont-item-h1{
  font-size:15px;
  color:#162833;
  width:220px;
  text-align:left;
  margin:20px auto 0px auto;
}
.latest-blogs-cont-item-p{
  font-size:13px;
  line-height:1.2rem;
  text-align: left;
  width:220px;
  margin:17px auto 10px auto;
  color:#24658d;
  cursor:default;
  font-weight:600;
}

.latest-blogs-arrow-right{
  text-align: left;
  width:50px;
  margin:0px auto;
  position:absolute;
  bottom:30px;
  left:43px;
  cursor:pointer;
}



/*----------------Subscribe Section--------------------*/

.subscribe-main-section{
  width:100%;
  max-width:550px;
  margin:50px auto 0px auto;
  height:500px;
  text-align: center;

}
.subscribe-item-cont-h1{
  font-size:35px;
  text-align: center;
  color:rgb(12, 12, 58);
}
.subscribe-item-cont-p{
  font-size:15px;
  letter-spacing: 1px;
  color:rgb(134, 131, 131);
}
.subscribe-sec-cont-item-2{
  display:flex;
  max-width:100%;
  width:100%;
  padding:20px 0px;
  margin:90px auto 0px auto;
  justify-content: space-around;
  box-shadow:2px 2px 10px 2px rgba(128, 128, 128, 0.178);
  border-radius:50px;
}
.subscribe-sec-cont-item-2>input{
  border:none;
  outline:none;
  width:50%;
  height:40px;
  font-size:16px;
  letter-spacing: 1px;
  padding:5px 20px;
}
.subscribe-sec-cont-item-2>button{
  padding:10px 20px;
  font-size:13px;
  font-weight: 700;
  cursor:pointer;
  color:white;
  background:rgba(222,93,54,255);
  border:none;
  border-radius:25px;
}


/*-------------------footer-section------------------*/
.footer-section{
  display:flex;
  justify-content: space-between;
  margin:0px auto;
  width:100%;
  max-width:1030px;
  padding:70px 0px;
}

.footer-cont-sec-1>img{
  width:150px;
  margin-bottom:15px;
}
.footer-cont-sec-1>div>p{
  width:260px;
  font-size:15px;
  margin-bottom:40px;
  font-weight: 700;
  color:rgb(134, 131, 131);
  line-height: 1.2rem;
}
.footer-cont-sec-1>div>div{
  width:130px;
  display:flex;
  justify-content: space-between;
}
.footer-logo-item-small{
  border:2px solid rgba(207,155,134,255);
  color:#032e3d;
  padding:10px;
  cursor:pointer;
  border-radius:50%;
}
.footer-cont-sec-2{
  margin-top:40px;

  align-items: left;
}
.footer-cont-sec-2>h1{
  color:#1a2f40;
  font-size:19px;
  font-weight: 800;
}
.footer-cont-sec-2>div>ul{
  margin-top:30px;
  list-style: none;
  padding:0px;
}
.footer-cont-sec-2>div>ul>li{
  padding:10px 0px;
  display:flex;
  font-weight: 700;
  color:rgb(134, 131, 131);
}
.footer-cont-sec-2>div>ul>li>p{
  width:60%;
  line-height:1.8rem;
  margin:0px;
}
